<launch>
  <include file="$(find abot_bringup)/launch/bringup_with_imu.launch"/>
  <!-- 轮式里程计极度降权: cov_inflate 因子从 5 提到 30，让 EKF 几乎忽略轮式 -->
  <param name="cov_inflate/factor" type="double" value="30.0"/>
  <include file="$(find abot_bringup)/launch/model.launch"/>
  <include file="$(find abot_bringup)/launch/rplidar.launch"/>
</launch>
